.backdrop {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  z-index: 50;
  padding: 24px;

  transition: backdrop-filter;
  animation: smoothBlur 2s forwards ease-out;
}

.modal {
  padding: 20px;
  border-radius: var(--radius-lg);
  border: 1px solid rgba(255, 255, 255, 0.12);
  background: #0000007c;
  display: flex;
  flex-direction: column;
  gap: 20px;

  transition: transform;
  animation: scaleModal 0.4s forwards ease-out;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;

  &_name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;

    font-size: 24px;
    font-weight: 400;
    color: var(--color-text-primary);
  }
}

.content {
  margin: 0;
  color: var(--color-text-secondary);
}

.authorInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 91px;

  padding: 16px 5px 16px 0px;

  &_title {
    display: flex;
    column-gap: 12px;
  }

  &_name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 2px;

    &_secondary {
      color: #ffffff74;
    }
  }
}

@media (max-width: 1000px) {
  .modal {
    padding: 15px;
  }
  .title {
    &_name {
      font-size: 20px;
    }
  }
  .authorInfo {
    column-gap: 21px;
    &_name {
      font-size: 12px;
    }
  }
}

@keyframes scaleModal {
  0% {
    transform: translate(0%, -50%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes smoothBlur {
  0% {
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }
  100% {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }
}
